* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



nav {
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}



.nav--logo {
  
  max-width: 100px;

 
  
}